.score-container {
  padding: 20px 30px;
  margin-bottom: 40px;
  border: 1px solid black;

  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    margin: 0;

    span {
      font-weight: bold;
    }

    .passed {
      color: rgb(16, 143, 16);
    }
    .suspended {
      color: rgb(177, 10, 10);
      font-weight: bold;
    }
  }
}
